.font {
font-family: kepler-std-display, serif;
font-weight: 900;
font-style: normal;
color: #91251d; 
}

html {
background-color: #eadec8;
margin: 100px;
}

.title {
top: 10px; 
font-size: 6vh; 
}

.emphasis {
font-size: 4vh; 
}

.name {
position: absolute; 
top: 260px; 
right: 640px; 
}

.hrefsize {
font-size: 4vh; 
}

.food {
position: absolute; 
bottom: 60px; 
}

.ethnic {
position: absolute; 
left: 250px; 
bottom: 60px; 
}

.language {
position: absolute; 
left: 570px; 
bottom: 60px; 
}

.border {
position: absolute; 
left: 0px; 
top: 0px; 
}

.border2 {
position: absolute; 
right: 0px; 
top: 0px; 
}

.border3 {
position: absolute; 
right: 200px; 
top: 0px; 
}

.border4 {
position: absolute; 
right: 200px; 
bottom: 0px; 
}
