.font {
font-family: kepler-std-display, serif;
font-weight: 900;
font-style: normal;
color: #91251d; 
}

html {
background-color: #eadec8;
margin: 100px;
}

.title {
position: absolute; 
top: 10px; 
font-size: 6vh; 
}

.emphasis {
font-size: 4vh; 
}

.name {
position: absolute; 
top: 220px; 
right: 580px; 
}

.hrefsize {
font-size: 3vh; 
}

.food {
position: absolute; 
bottom: 370px; 
left: 865px; 
}

.ethnic {
position: absolute; 
left: 765px; 
bottom: 270px; 
}

.language {
position: absolute; 
left: 770px; 
bottom: 170px; 
}

.border {
position: absolute; 
left: 0px; 
top: 0px; 
}

.border2 {
position: absolute; 
right: 0px; 
top: 0px; 
}

.border3 {
position: absolute; 
right: 70px; 
top: 0px; 
}

.border4 {
position: absolute; 
right: 70px; 
bottom: 0px; 
}

.text1 {
font-family: kepler-std-display, serif;
font-weight: 900;
font-style: normal;
font-size: 1.5vh; 
position: absolute; 
top: 350px;
left: 1080px; 
color: #eadec8; 
text-align: right; 
}

.square1 {
position: absolute; 
top: 150px; 
left: 600px; 
}

.button1 {
position: absolute; 
top: 325px; 
right: 500px; 
}

.button2 {
position: absolute; 
top: 425px; 
right: 500px; 
}

.button3 {
position: absolute; 
top: 525px; 
right: 500px; 
}

.navig {
position: absolute; 
top: 330px; 
left: 810px;    
}

.submitbox {
position: absolute; 
top: 370px; 
right: 100px; 
text-align: right; 
}

.bgs {
position: absolute; 
bottom: 310px; 
left: 500px; 
}

.bgsk {
position: absolute; 
bottom: 130px; 
left: 250px; 
}

.fam1 {
position: absolute; 
bottom: 310px; 
left: 250px; 
}

.fam2 {
position: absolute; 
bottom: 130px; 
left: 500px; 
}